/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);

@keyframes slideInFromLeft {
    0% {
    transform: translateX(-1.5%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}
body{
    background: linear-gradient(55deg, #803696 0%, #1fc8db 51%, #b56cf1 85%);
}
.content{
    animation: slideInFromLeft 0.7s ease-out forwards;
}
.name{
    color: #ffffff;
    text-shadow: #EEEE00 0 0 10px; 
    left: 20px;
    top: 25px;
    position:fixed;
    text-align: left;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    text-align: center;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgba(227,228,237, 0.37);
    padding: 15px;
}
.navbar a{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    opacity: 70%;
    color: #ffffff;
    padding-inline: 20px;
}
.navbar a:hover{
    transition-duration: 200ms;
    opacity: 20%;
}
.content h6{
    text-align: center;
    position:unset;
    color: #ffffff60;
}
.heading{
    margin: 100px 300px;
    color: #f5eaf8;
}
.heading p{
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.838);
    font-size: 300%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.heading h3{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 1.2;
}
.cpyr{
    color: #AAAAAA;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
}
