@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+JP:wght@100..900&display=swap');

:root{
--color: #000;
--sec-color: #fff;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media only screen and (max-width: 500px) {
    .home{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 110vw;
    }
} */

body {
    background: var(--color);
}

header {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    bottom: 5vh;
    animation: slideIn 0.9s ease-in-out forwards;
}

.menubar {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    margin: 0 20px;
    font-weight: 300;
    font-size: 80%;
    color: var(--sec-color);
    text-decoration: none;
}

nav a:hover {
    transform: scale(1.5);
    text-decoration: none;
}

.home {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap
}

.logo {
    height: 30vh;
}

.greetings {
    align-self: flex-start;
    color: var(--sec-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 200%;
    text-align: center;
}