@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --color: #000;
    --txt-color: #fff;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--color);
}

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 4vh;
}

nav {
    animation: slideIn 0.9s ease-in-out;
}

.menubar {
    display: flex;
    justify-content: space-between;
}

.menubar li {
    list-style: none;
}

.menubar a {
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    margin: 0 20px;
    font-weight: 300;
    font-size: 80%;
    color: var(--txt-color);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.menubar a:hover {
    transform: scale(1.5);
    text-decoration: none;
}

.home {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap
}

.logo {
    height: 30vh;
}

.home-text {
    align-self: center;
    color: var(--txt-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 200%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.332);
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

footer p {
    color: var(--txt-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 80%;
    margin: 20px 0;
}