@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Madimi+One&display=swap');

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    /* background: linear-gradient(55deg, #35da98 0%, #49d5e4 51%, #5faf4d 85%); */
    background-image: url(https://img.freepik.com/free-vector/blurred-purple-background_1107-140.jpg?t=st=1740996684~exp=1741000284~hmac=cb77a7051e7f70bcc345dc3ce824cc733c58789be3982a4b271feb9852422a90&w=900);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    /* width: 100vw; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cb8836db;
    padding: 13px;
    border: 1px solid #fff;
}

.slidein{
    animation: slideIn 1s ease-out;
}

.menubar {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #294760;
}

/* .namelogo{
    text-shadow: #EEEE00 0 0 10px; 
    padding: 13px;
    position: fixed;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
} */

.navbar a[aria-current="page"] {
    font-weight: 900;
    color: #294760;
    /* text-decoration: underline; */
}

.navbar a {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

main {
    min-height: 80vh;
}

.cpyrt {
    padding: 10px;
    background: #222;
}

.cpyrt p{
    text-align: center;
    color: #AAAAAA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}